.contacts-container {
    @include padding-vertical(80px, 60px);
    @include flex-center();
    flex-wrap: wrap;

    @media (min-width: 1220px) {
        @include padding-horizontal();
        @include flex-justify-space-between();
    }
}

.contact-item-container {
    flex-basis: 300px;
    min-height: 300px;
    margin: 0 10px 20px;
    padding: 25px;

    border: 1px solid $color_9c;
    background-color: rgba(255, 255, 255, .9);

    font-style: normal;
    text-align: center;

    @media (min-width: 1220px) {
        flex-basis: 370px;
        min-height: 370px;
        margin-left: 0;
        margin-right: 0;
        padding: 45px;
    }

    @media (min-width: 620px) and (max-width: 1020px) {
        flex-basis: 250px;
        min-height: 250px;
    }
}

.contact-nav-icon {
    font-size: 48px;
    color: $color_21;
    margin-bottom: 20px;
}

.contact-place-title {
    @include h2-product-title(22px);
    text-transform: uppercase;
    margin-bottom: 17px;
}

.contact-details-title,
.contact-details-phone,
.contact-details-email,
.contact-details-address {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.contact-details-title,
.contact-details-address {
    color: $color_6c;
}

.contact-details-phone,
.contact-details-email {
    color: $color_21;
    margin-bottom: 17px;
}

.contact-details-address {
    font-weight: 400;
}
