.featured-products-container {
    @include padding-horizontal();
    @include padding-vertical();

    @media (max-width: 960px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.featured-products {
    @include flex-justify-space-between();
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        @include flex-center();
    }
}

.featured-product {
    position: relative;
    @include flex-basis-height(270px);
    @include flex-justify-center(row);
    cursor: $cursor;

    @media (max-width: 1200px) {
        margin: 10px;
    }

    @media (min-width: 690px) and (max-width: 1200px),
    (min-width: 440px) and (max-width: 590px) {
        @include flex-basis-height(200px);
    }
}

.featured-product-image {
    @include flex-basis-height(270px);
    margin: auto;

    @media (min-width: 690px) and (max-width: 1200px),
    (min-width: 440px) and (max-width: 590px) {
        @include flex-basis-height(200px);
    }
}

.featured-product-hover {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 270px;
    padding: 28px;
    border: 1px solid $color_9c;
    background-color: rgba(255, 255, 255, 0.9);
    @include flex-justify-center();
    align-items: center;
    display: none;

    @media (min-width: 690px) and (max-width: 1200px),
    (min-width: 440px) and (max-width: 590px) {
        width: 200px;
        height: 200px;
    }
}

.featured-product:hover .featured-product-hover {
    @include flex();
}

.featured-product-hover-link {
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 19px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 50%;
    background: url(../img/arrow.svg) center / 12px no-repeat #ffffff;
    cursor: $cursor;
}

.featured-product-hover-title {
    @include h2-product-title(22px);
    margin-bottom: 12px;
}

.featured-product-hover-description {
    @include product-description();
    text-align: center;
    line-height: 22px;
}
