.footer-container {
    @include padding-horizontal();
    @include padding-vertical(80px, 30px);
    background-color: $color_f7;
}

.footer-contacts-info-container,
.footer-copy-socials-container {
    @include flex-justify-space-between();
    flex-wrap: wrap;
}

.footer-contacts-info-container {
    align-items: flex-start;
    margin-bottom: 50px;

    @media (max-width: 625px) {
        flex-direction: column;
    }
}

.footer-contacts-info-blocks {
    @media (max-width: 955px) {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer-copy-socials-container {
    align-items: center;

    @media (max-width: 1020px) {
        @include flex-justify-center();
    }
}

.footer-copy-socials-blocks {
    @media (max-width: 1020px) {
        margin-bottom: 10px;
    }
}



// Address
.footer-address-container {
    flex-basis: 225px;

    @media (max-width: 715px) {
        flex-basis: auto;
    }
}

.footer-address-title {
    @include footer-titles();
    
}

.footer-address-text {
    @include footer-text();
}



// Useful info
.footer-useful-info-container {
    margin-right: 50px;
    margin-left: 50px;

    @media (max-width: 955px) {
        margin-right: 0;
        margin-left: 0;
    }

    @media (max-width: 715px) {
        order: -1;
    }
}

.footer-useful-info-title {
    @include footer-titles();
    
}

.footer-useful-info-links-container {
    @include flex-justify-space-between();
    margin-top: 15px;

    @media
        (min-width: 955px) and (max-width: 1080px),
        (min-width: 625px) and (max-width: 715px) {
            flex-direction: column;
        }
}

.footer-useful-info-links {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
        margin-right: 0;
    }
}

.footer-useful-info-link {
    @include footer-links(14px);
    letter-spacing: 0.7px;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}



// Subscribe
.footer-subscription-container {
    flex-basis: 320px;

    @media (max-width: 715px) {
        flex-basis: auto;
    }
}

.footer-subscription-title {
    @include footer-titles();
}

.footer-subscription-text {
    @include footer-text();
}

.footer-subscription-input-container {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.footer-subscription-input {
    @include btn-input();
    display: block;
    width: 100%;
    height: 48px;
    padding: 17px;
    padding-right: 42px;
    border: 1px solid #d9dee1;
    border-radius: 1px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: $color_6c;

    &:focus {
        border-color: $color_21;
        transition: .25s;
    }
}

.button-send-email {
    position: absolute;
    top: 0;
    right: 10px;
    appearance: none;
    -webkit-appearance: none;
    height: 48px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: $color_21;
    transition: .25s;
    cursor: $cursor;

    &:hover {
        color: $color_8c;
    }
}



// Copyright
.footer-copyright {
    color: $color_6c;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    
    @media (max-width: 1020px) {
        order: 1;
    }

    @media (max-width: 450px) {
        text-align: center;
    }
}



// Social networks
.footer-social-networks-container {
    @include flex();
    align-items: center;
}

.footer-social-networks-icon {
    @include footer-links(28px);
    margin: 0 6px;
}



// Terms & privacy
.footer-terms-privacy {
    @media (max-width: 450px) {
        text-align: center;
    }
}

.footer-terms-privacy-link {
    @include footer-links(12px);
    line-height: 20px;
    letter-spacing: 0.6px;

    @media (max-width: 450px) {
        text-align: center;
    }
}
