.header-container,
.header-product-details-container {
    @include flex-justify-space-between(column);
    @include padding-horizontal();
    @include padding-page-top();
}

.header-container {
    padding-bottom: 50px;
    min-height: 360px;
    background-color: $color_f5;
}

.header-product-details-container {
    padding-bottom: 29px;
}

.header-logo-menu-container {
    @include flex-justify-space-between();
    align-items: center;
    position: relative;
    padding-right: 63px;

    @media (max-width: 725px) {
        padding-right: 0;
    }
}



// Logo
.logo {
    @media (max-width: 870px) {
        width: 130px;
    }
}



// Page titles
.page-title {
    @include h1-page-title();
}

.main-page-title {
    @include h1-page-title(45px, 700);
    text-transform: uppercase;
    margin-top: 20px;

    @media (max-width: 1030px) {
        font-size: 33px;
    }

    @media (max-width: 870px) {
        font-size: 25px;
    }

    @media (max-width: 780px) {
        margin-top: 0;
        font-size: 0;
    }
}
