.up-btn {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;

    position: fixed;
    right: 40px;
    bottom: 70px;
    z-index: 99;
    display: none;

    border-top: none;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 25px solid $color_21;
    border-radius: 5px;
    opacity: .5;
    cursor: $cursor;

    &:hover,
    &:active,
    &:focus {
        opacity: 1;
        transition: $transition-duration;
    }
}

.up-btn-show {
    display: block;
}
