.promo-products-container {
    @include flex-justify-center(row);
    flex-wrap: wrap;

    &.promo-product-page {
        margin-bottom: 80px;
    }

    @media (max-width: 475px) {
        justify-content: flex-start;
    }
}

.promo-container-products-page {
    margin-bottom: 80px;
}

.promo-product {
    flex-basis: 50%;
    height: 550px;
    padding: 40px;

    @include flex-justify-content(flex-start);
    align-items: center;

    background: right center no-repeat;
    background-size: auto 100%;

    @media (min-width: 1280px) {
        height: 683px;
        padding: 50px;
    }

    @media (max-width: 1090px) {
        height: 450px;
    }

    @media (max-width: 1015px) {
        height: 400px;
    }

    @media (max-width: 860px) {
        flex-basis: 550px;
    }

    @media (max-width: 550px) {
        flex-basis: 100%;
    }

    @media (max-width: 475px) {
        padding: 25px;
        align-items: flex-start;
        background-size: auto 70%;
        background-position-y: bottom;
    }
}

.promo-product-container-first {
    background-image: url(../img/promo/promo-img1.jpg);
    background-color: rgb(232, 233, 235);
}

.promo-product-container-second {
    background-image: url(../img/promo/promo-img2.jpg);
    background-color: rgb(247, 247, 247);
}

.promo-product-content {
    @media
        (min-width: 860px) and (max-width: 950px),
        (max-width: 475px) {
            @include translucent-background();
        }
}

.promo-product-promo-title {
    @include promo-title($blue);

    @media (max-width: 1090px) {
        @include promo-title-smaller();
    }

    @media (max-width: 1015px) {
        font-size: 14px;
    }
}

.promo-product-title {
    @include h2-product-title();

    @media (max-width: 1090px) {
        @include h2-product-title-smaller();
    }

    @media (max-width: 1015px) {
        font-size: 27px;
    }
}

.promo-product-description {
    @include product-description();
    max-width: 300px;

    @media (max-width: 1090px) {
        @include product-description-smaller();
        max-width: 280px;
    }
}
