.products-catalog-container {
    @include padding-horizontal();
    @include padding-vertical(70px, 90px);

    @media (max-width: 1070px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.products-catalog-items-container {
    @include flex-center();
    flex-wrap: wrap;
    padding-top: 50px;

    @media (min-width: 1220px) {
        @include flex-justify-space-between();
    }
}

.products-catalog-item {
    @include product-item();
}

.products-catalog-image {
    width: 100%;
}
