.promo-products-container {
    @include flex();
}

.promo-product {
    flex-basis: 50%;
    min-height: 683px;
    padding: 210px 52px 0;
    background: center / cover no-repeat;
}

.promo-product-container-first {
    background-image: url(../img/promo/promo-img1.jpg);
}

.promo-product-container-second {
 background-image: url(../img/promo/promo-img2.jpg);
}

.promo-product-promo-title {
    @include promo-title($blue);
    line-height: 48px;
}

.promo-product-title {
    @include h2-product-title();
    margin-bottom: 12px;
}

.promo-product-description {
    @include product-description();
    max-width: 374px;
    margin-bottom: 34px;
}
