.slider-in-header {
    @include slider('../img/slider/slider-img.jpg');
    @include padding-page-top();
    @include flex-justify-space-between(column);
    padding-bottom: 20px;
}

.slider-on-page {
    @include slider('../img/slider/slider.jpg');
    @include flex-justify-center();

    @media (max-width: 800px) {
        padding-top: 40px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    @media (max-width: 615px) {
        align-items: center;
    }
}

.slider-content {
    @media (max-width: 800px) {
        @include translucent-background();
    }
}

.slider-in-header-content {
    @media (max-width: 800px) {
        align-self: flex-start;
    }

    @media (max-width: 530px) {
        align-self: center;
    }
}


// Pagination
.slider-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-in-header-pagination-container {
    margin-top: 15px;
}

.slider-on-page-pagination-container {
    position: absolute;
    bottom: 20px;
    width: calc(100% - #{$padding * 2});
}

.slider-pagination-item {
    @include btn-input();
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: $color_21;
    opacity: 0.6;
    cursor: $cursor;

    &:hover {
        opacity: 1;
        transition: $transition-duration;
    }

    &.slider-pagination-item-active {
        width: 40px;
        height: 40px;
        opacity: 1;
        cursor: $cursor-not-active;
    }
}


// Titles
.slider-in-header-promo-title {
    @include promo-title($green);

    @media (max-width: 1030px) {
        @include promo-title-smaller();
    }
}

.slider-on-page-promo-title {
    @include promo-title($red);

    @media (max-width: 1030px) {
        @include promo-title-smaller();
    }
}

.slider-product-title {
    @include h2-product-title(62px);
    font-weight: 200;
    text-transform: uppercase;

    @media (max-width: 870px) {
        @include h2-product-title-smaller();
    }
}

.slider-in-header-product-title {
    @media (min-width: 871px) and (max-width: 1030px) {
        font-size: 36px;
    }
}

.slider-on-page-product-title {
    @media (min-width: 871px) and (max-width: 1030px) {
        font-size: 50px;
    }
}


// Text
.slider-product-description {
    @include product-description();
    max-width: 350px;

    @media (max-width: 1030px) {
        @include product-description-smaller();
    }
}
