.trending-products-container {
    @include padding-horizontal();
    @include padding-vertical(80px, 65px);

    @media (max-width: 1070px) {
        @include padding-horizontal(0, 0);
    }
}

// Text
.trending-products-text-container {
    @include flex-justify-space-between();
    align-items: center;
    margin-bottom: 50px;

    @media (max-width: 1220px) {
        @include flex-center(column);
    }
}

.trending-products-title {
    @include h2-product-title();
    margin-bottom: 0;

    @media (max-width: 1220px) {
        margin: 0 15px 20px;
        text-align: center;
    }
}

// Products
.trending-products-items-container {
    @include flex-justify-space-between();
    flex-wrap: wrap;

    @media (max-width: 1220px) {
        @include flex-center();
    }
}

.trending-products-item {
    @include product-item();

    @media (max-width: 315px) {
        height: auto;
    }
}

.trending-product-image {
    width: 100%;

    @media (max-width: 315px) {
        display: block;
    }
}
