// Colors
$color_21: #212121;
$color_6c: #6c6c6c;
$color_8c: #8c8c8c;
$color_9c: #9c9c9c;
$color_f7: #f7f7f7;
$color_f5: #f5f5f5;
$red: #e53935;
$red-btn: #f44336;
$green: #43a047;
$blue: #1e88e5;


// Details
$padding: 40px;

$cursor: pointer;
$cursor-not-active: auto;

$transition-duration: .25s;



// Layout
@mixin padding-page-top() {
    padding-top: 50px;
}

@mixin padding-horizontal($left: $padding, $right: $padding) {
    padding-left: $left;
    padding-right: $right;
}

@mixin padding-vertical($top: 80px, $bottom: 80px) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin flex() {
    display: flex;
}

@mixin flex-justify-content($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin flex-justify-space-between($direction: row) {
    @include flex-justify-content(space-between);
    flex-direction: $direction;
}

@mixin flex-justify-space-around($direction: row) {
    @include flex-justify-content(space-around);
    flex-direction: $direction;
}

@mixin flex-justify-center($direction: column) {
    @include flex-justify-content(center);
    flex-direction: $direction;
}

@mixin flex-center($direction: row) {
    @include flex-justify-center($direction);
    align-items: center;
}

@mixin flex-basis-height($size) {
    flex-basis: $size;
    height: $size;
}



// Products
@mixin product-item() {
    @include flex-basis-height(290px);
    margin: 0 15px 30px;

    @media (min-width: 1220px) {
        @include flex-basis-height(370px);
        margin-left: 0;
        margin-right: 0;
    }

    @media (min-width: 690px) and (max-width: 1070px) {
        @include flex-basis-height(200px);
    }

    @media (min-width: 540px) and (max-width: 690px) {
        @include flex-basis-height(150px);
    }

    @media (min-width: 500px) and (max-width: 540px) {
        @include flex-basis-height(220px);
    }
}



// Text on a translucent background
@mixin translucent-background {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}



// Slider
@mixin slider($url) {
    position: relative;
    height: 800px;
    background: center right / cover no-repeat border-box;
    background-image: url($url);
    @include padding-horizontal();

    @media (max-width: 1030px) {
        height: 700px;
    }

    @media (max-width: 950px) {
        height: 600px;
    }

    @media (max-width: 870px) {
        height: 500px;
    }

    @media (max-width: 400px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}



// Titles
@mixin h1-page-title($font: 62px, $weight: 200) {
    color: $color_21;
    font-size: $font;
    font-weight: $weight;

    @media (max-width: 1030px) {
        font-size: 33px;
    }

    @media (max-width: 870px) {
        font-size: 25px;
    }
}

@mixin h2-product-title($font: 36px) {
    font-size: $font;
    font-weight: 700;
    color: $color_21;
    margin-bottom: 12px;
}

@mixin h2-product-title-smaller() {
    font-size: 30px;
    margin-bottom: 10px;
}

@mixin promo-title($color) {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: $color;
}

@mixin promo-title-smaller() {
    font-size: 15px;
    line-height: 25px;
}

@mixin footer-titles() {
    @include promo-title($color_6c);
    margin-bottom: 5px;
}



// Links
@mixin link-arrow() {
    font-family: 'Font Awesome\ 5 Free';
    content: '\f054';
    position: absolute;
}

@mixin hover-effect-underline() {
    content: '';
    position: absolute;
    height: 2px;
    background-color: $color_21;
}



// Text
@mixin product-description() {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $color_6c;
    margin-bottom: 30px;
}

@mixin product-description-smaller() {
    line-height: 22px;
    margin-bottom: 20px;
}

@mixin product-category($font) {
    position: relative;
    font-size: $font;
    color: $color_6c;
    font-weight: 500;
    text-decoration: none;
    transition: $transition-duration;

    &:hover {
        color: $color_21;
    }

    &:hover::after {
        @include hover-effect-underline();
        left: 0;
        bottom: -10px;
        width: 100%;
    }

    &.product-category-active {
        font-weight: 700;
        color: $color_21;

        &:hover {
            cursor: $cursor-not-active;
            
            &:after {
                width: 0; 
            }
        }
    }
}

@mixin footer-text() {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $color_21;
}

@mixin footer-links($font) {
    font-size: $font;
    font-weight: 700;
    color: $color_21;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition-duration;

    &:hover {
        color: $color_8c;
    }
}



// Menu
@mixin menu-links() {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    transition: $transition-duration;
}

@mixin menu-items() {
    @include menu-links();
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color_8c;

    &:hover,
    &:active,
    &:focus {
        color: $color_21;
    }

    @media (min-width: 726px) {
        &:hover::after,
        &:active:after,
        &:focus::after {
            @include hover-effect-underline();
            bottom: 0;
            left: -1px;
            width: calc(100% + 2px);
        }
    }
}



// Buttons $ forms
@mixin btn-input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
}
